[Unit]
Description=React Testing API Web Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=rowank
ExecStart=/usr/local/bin/react-test server start

[Install]
WantedBy=multi-user.target